@charset "UTF-8";
@import '../../stylesheets/themes/themes';
@import '../../stylesheets/helps/mixin';
// 按钮
h1 {
  font-size: .36rem;
  font-weight: bold;
  padding: .3rem;
  text-align: center;
}
.m-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: .9rem;
  box-sizing: border-box;
  h1 {
    font-weight: 500;
    font-size: .36rem;
    padding: 0;
  }
  a {
    margin: 0;
  }
}
.content {
  height: 100%;
  @include displayFlex;
  box-orient:vertical;
  flex-direction:column;
  .main {
    box-sizing: border-box;
    padding-top: .9rem;
    @include flex(1);
    height: 100%;
  }
}