@charset "UTF-8";
/*背景色*/
/*线条颜色*/
/*字体颜色*/
/*按钮颜色*/
/*背景色*/
/*线条颜色*/
/*字体颜色*/
/*按钮颜色*/
/**
 * [borderRadius description]
 * @param  {[type]} $topLeft  [description]
 * @param  {[type]} $topRight [description]
 * @param  {[type]} $btmLeft  [description]
 * @param  {[type]} $btmRight [description]
 * @return {[type]}           [description]
 */
/** 
 * [displayFlex 设置盒子的display属性为flex]
 * @return {[type]}           [description]
 */
/**
 * [flex 设置盒子flex属性]
 * @param  {[number]} $num  [默认值为1]
 * @return {[type]}           [description]
 */
/**
 * [border 设置四边框]
 * eg: .border {
 *  @extend %border;
 * }
 */
/**
 * [border 设置圆角边框]
 * eg: .border {
 *  @extend %borderRadius;
 * }
 */
/**
 * [border 设置左边框]
 * eg: .border {
 *  @extend %borderLeft;
 * }
 */
/**
 * [border 设置右边框]
 * eg: .border {
 *  @extend %borderRight;
 * }
 */
/**
 * [border 设置上边框]
 * eg: .borderTop {
 *  @extend %borderRight;
 * }
 */
/**
 * [border 设置下边框]
 *  position: relative;
 *  @extend %borderBottom;
 * }
 */
/**
 * [baseFormBtnStyle 设置开关按钮、单选按钮、多选按钮公共基础样式]
 * @param  {[type]} $w  [description]
 * @param  {[type]} $h  [description]
 * @param  {[type]} $border  [description]
 * @param  {[type]} $bgColor  [description]
 * @param  {[type]} $borderRadius  [description]
 * @return {[type]}           [description]
 */
.g-text {
  border: 0;
  padding: 0 0 0 .2rem;
  box-sizing: border-box;
  width: 100%;
  font-size: .28rem; }

.g-cell-switch {
  padding: .14rem .3rem; }
  .g-cell-switch .g-cell-bd {
    padding-top: .14rem;
    padding-bottom: .14rem; }

.g-switch {
  appearance: none;
  position: relative;
  width: 1.02rem;
  height: 0.6rem;
  border: 2px solid #e5e5e5;
  outline: 0;
  border-radius: 0.6rem;
  box-sizing: border-box;
  background-color: #fff;
  transition: background-color .1s, border .1s; }
  .g-switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: .5rem;
    border-radius: 15px;
    background-color: #fff;
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1); }
  .g-switch:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: .5rem;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px solid #e5e5e5;
    border-radius: 15px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35); }
  .g-switch:checked {
    border-color: #27a366;
    background-color: #27a366; }
    .g-switch:checked:before {
      transform: scale(0); }
    .g-switch:checked:after {
      transform: translateX(0.45rem); }

.g-radio {
  appearance: none;
  position: relative;
  width: 0.36rem;
  height: 0.36rem;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 0.3rem;
  box-sizing: border-box;
  background-color: #fff;
  transition: background-color .1s, border .1s; }
  .g-radio:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1); }
  .g-radio:checked {
    border-color: #27a366;
    background-color: #27a366; }
    .g-radio:checked:before {
      transform: scale(0); }
    .g-radio:checked:after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 70%;
      height: 35%;
      margin-top: -30%;
      margin-left: -40%;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      box-sizing: border-box;
      transform: rotate(-45deg); }

.g-checkbox {
  appearance: none;
  position: relative;
  width: 0.24rem;
  height: 0.24rem;
  border: 1px solid #666;
  outline: 0;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff;
  transition: background-color .1s, border .1s; }
  .g-checkbox:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1); }
  .g-checkbox:checked {
    border-color: #27a366;
    color: #27a366; }
    .g-checkbox:checked:before {
      transform: scale(0); }
    .g-checkbox:checked:after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 40%;
      margin-top: -30%;
      margin-left: -40%;
      border-left: 1px solid #27a366;
      border-bottom: 1px solid #27a366;
      box-sizing: border-box;
      transform: rotate(-45deg); }
  .g-checkbox-two {
    appearance: none;
    position: relative;
    width: 0.35rem;
    height: 0.35rem;
    border: 1px solid #666;
    outline: 0;
    border-radius: 0;
    box-sizing: border-box;
    background-color: #fff;
    transition: background-color .1s, border .1s; }
    .g-checkbox-two:checked {
      border-color: #27a366;
      color: #fff;
      background-color: #27a366; }
      .g-checkbox-two:checked:after {
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff; }

.g-textArea {
  width: 100%;
  border: 0;
  outline: 0;
  resize: none;
  font-size: .28rem; }

.g-textArea-counter {
  text-align: right;
  color: #999; }

.g-cell-bd-textArea {
  position: relative; }

.g-textArea-del {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: #fff; }

/*# sourceMappingURL=form.css.map */
