@charset "UTF-8";
@import '../themes/themes';
@import '../helps/mixin';
@charset "utf-8";
html {
	color: #333;
	background: #fff;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {
	outline: 0;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: sans-serif;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	font-size: .24rem;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0
}

input, select, textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset, img {
	border: 0
}

abbr, acronym {
	border: 0;
	font-variant: normal
}

del {
	text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: 500
}

ol, ul {
	list-style: none
}

caption, th {
	text-align: left
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500
}

q:before, q:after {
	content: ''
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -.5em
}

sub {
	bottom: -.25em
}

a:hover {
	text-decoration: underline
}

ins, a {
	text-decoration: none
}
// 清除a 默认样式
// 处理手指按下透明遮罩层
a, a:hover {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
img {
	vertical-align: top;
}
// 处理表单元素默认样式
input {
	-webkit-appearance: none;
}
input:focus {
	outline: none;
}
// 清除button默认样式
button:focus {
	outline: none;
}
input[type="search"]{-webkit-appearance:none;}
// 清除搜索框的删除按钮
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
	width: 0px;
	height: 0px;
	background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
	border-radius: 10px;
	background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
/*解决android 虚拟键盘遮挡输入框问题*/ 
body {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }
  @media (max-width: 768px) and (orientation: landscape) {
    body {bottom: auto;height: 200%;}
  }