@charset "UTF-8";
@import '../stylesheets/themes/themes';
@import '../stylesheets/helps/mixin';
// index
h1 {
  font-size: .36rem;
  font-weight: bold;
  padding: .3rem;
  text-align: center;
}
h2 {
  font-size: .3rem;
  font-weight: bold;
  padding: .3rem;
  text-align: left;
}